<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\assets\js\Meting.min.js"></script>.aplayer-list-light {
	background: #252d38;
}

.aplayer .aplayer-lrc:before{
	background: #252d38;
}

.aplayer .aplayer-lrc:after{
	background: #252d38;
}

.aplayer {
	background: #252d38;
}

.aplayer .aplayer-list ol li.aplayer-list-light{
	background: #252d38;
}

.aplayer .aplayer-list ol li:hover{
	background: gray;
}

.aplayer .aplayer-list ol li{
	border-top: #252d38;
}

.aplayer .aplayer-lrc:before{
	height: 1%;
}

.aplayer .aplayer-lrc:after{
	height: 1%;
}

iframe{
	filter: invert(100%);
}

